server:
  port: 8080
spring:
  application:
    name: auth-server
sa-token:
  token-name: satoken
  timeout: 2592000
  active-timeout: -1
  is-concurrent: false
  is-share: true
  token-style: simple-uuid
